<h1>Create your post!</h1>

<% form_with(model: @post, url: posts_create_path, local: true) do |f|%>
    <%= f.text_field :title %>
    <%= f.text_field :image_url %>
    <%= f.text_field :content %>
    <% f.submit 'Post it!' %>
<% end %>
