<h1>Posts</h1>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Image_URL
        </th>
        <th>
            Content
        </th>
        <th>
            Created at
        </th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
        <td>
            <%= post.title %>
        </td>
        <td>
            <%= image_tag post.image_url, size: 200 %>
        </td>
        <td>
            <%= post.content %>
        </td>
        <td>
            <%= post.created_at %>
        </td>
    </tr>
    <% end %>
</table>